@font-face {
  font-family: gilroy;
  src: url(Fonts/gilroy/Gilroy-Medium.ttf);
}

.buttons {
  margin-left: -18px;
}
.playstore {
  width: 260px;
  margin-left: 20px;
}

.text-1 {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
  /* background-color: red; */
  font-weight: 800;
  font-size: 60.73px;
  font-family: gilroy;
  /* padding-top:120px ; */
  line-height: 65.91px;
  margin-top: 185px;
}

.first-row-p {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* background-color: blue; */
  font-family: gilroy;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #9e9da2;
}



.text-2 > p {
/* width: 403px; */
font-family: gilroy;
font-size: 46.39px;
line-height: 50.35px;
font-weight: 800;
color: #000000;
/* background-color: aqua; */
}

.text-2 > label {
  color: #9E9DA2;
  font-family: gilroy;
font-size: 23px;
line-height: 26px;
font-weight: 500;
/* background-color: aqua; */
margin-top: 25px;
}




.circlimg>p{
font-family: gilroy;
font-weight: 800;
font-size: 34.11px;
line-height: 37.02px;
color: #75BF7A;
/* flex-direction: row; */
order: 3;
}

.circlimg>img{
/* position: relative; */
width: 60.82px;
margin-top: 0px;
margin-left: 86%;
}
.circlimg>p{
margin-left: 91.5%;
margin-top: -50px;
}



.text-3>p{
font-family: gilroy;
font-weight: 800;
font-size: 22px;
line-height: 55.35px;
display: flex;
justify-content: right;
/* text-align: right; */
color: #000000;
}




.text-3>label{
font-family: gilroy;
font-size: 20px;
line-height: 26px;
display: flex;
text-align: right;
justify-content: right;
color: #9E9DA2;
}




.mbl-bg{
  width: 402px;
margin-top: -8px;
margin-left: 13px;
display: flex;
justify-content: center;
}



/* .mbl-img{
  margin-top: -480px;
margin-left: 75px;
} */











.circlimg-2>p{
  font-family: gilroy;
  font-weight: 800;
  font-size: 34.11px;
  line-height: 37.02px;
  color: #75BF7A;

  }
  
  .circlimg-2>img{
  width: 60.82px;
  margin-top: 0px;
}
  .circlimg-2>p{
  margin-left: 5%;
  margin-top: -50px;
  }
  
  .text-4>p{
  font-family: gilroy;
  font-weight: 800;
  font-size: 22px;
  line-height: 55.35px;
  display: left;
  justify-content: left;
  /* text-align: right; */
  color: #000000;
  }
  
  
  
  
  .text-4>label{
  font-family: gilroy;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  text-align: left;
  justify-content: left;
  color: #9E9DA2;
  }
  




